html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #16A085; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #16A085, #F4D03F);
  background: -o-linear-gradient(right, #16A085, #F4D03F);
  background: linear-gradient(to left, #16A085, #F4D03F); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
p {
  text-align: center;
}
